In [3]:
import pandas as pd

In [4]:
df1 = pd.read_csv("https://datasets.imdbws.com/name.basics.tsv.gz", sep = '\t')

In [11]:
df2 = pd.read_csv("https://datasets.imdbws.com/title.akas.tsv.gz", sep = '\t')

In [15]:
df3 = pd.read_csv("https://datasets.imdbws.com/title.basics.tsv.gz", sep = '\t')

In [17]:
df4 = pd.read_csv("https://datasets.imdbws.com/title.crew.tsv.gz", sep = '\t')

In [45]:
df5 = pd.read_csv("https://datasets.imdbws.com/title.episode.tsv.gz", sep = '\t')

In [21]:
df6 = pd.read_csv("https://datasets.imdbws.com/title.principals.tsv.gz", sep = '\t')

In [89]:
df7 = pd.read_csv("https://datasets.imdbws.com/title.ratings.tsv.gz", sep = '\t')

In [97]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21478054 entries, 0 to 21478053
Data columns (total 8 columns):
titleId            object
ordering           int64
title              object
region             object
language           object
types              object
attributes         object
isOriginalTitle    object
dtypes: int64(1), object(7)
memory usage: 1.3+ GB

In [100]:
df6

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N
...,...,...,...,...,...,...
39102252,tt9916880,5,nm0996406,director,principal director,\N
39102253,tt9916880,6,nm1482639,writer,\N,\N
39102254,tt9916880,7,nm2586970,writer,books,\N
39102255,tt9916880,8,nm1594058,producer,producer,\N
39102256,tt9916880,9,nm1052583,actress,\N,"[""Mum"",""Tidy Ted"",""Fang""]"